body{
    background: rgba(43,43,43,0.96);
    margin: 0;
    padding: 0;
}
.menu{
    width: 100%;
    height: 35px;
    border-bottom: 1px gray solid;
}
.menu ul{
    list-style-type: none;
    line-height: 35px;
    margin-top: 10px;
    margin-bottom: 0;
}
.menu ul li{
    float: left;
    margin-left: 20px;
}
.menu ul li a{
    color: white;
}
.el-drawer__header{
    display: none !important;
}
.el-drawer{
    width: 300px !important;
    color: white;
    background-color: rgba(43,43,43,0.3) !important;
    outline: none;
}
.el-drawer__body ul{
    list-style-type: none !important;
    margin-top: 50px;
}
.channel-item{
    padding: 5px;
    outline: none;
}
.channel-item:focus{
    background-color: rgba(255,255,255,0.3);
}
.channel-frame{
    width: 940px;
    height: 529px;
    margin: auto;
    overflow: hidden;
}
.cctv{
    width: 940px;
    height: 695px;
    margin-top: -166px;
    border: 0;
    margin-left: -10px;
}
